/* MARK When @tailwind base is added ,Preflight will be injected */
@import "tailwindcss";

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@theme {
  --rootheader-height: 4rem;
  --foreground-color-blue: oklch(74.6% 0.16 232.661);
  --color-egg-shell: #f0ead6;
  --color-outer-space: #414a4c;
  --color-dark-gray: #a9a9a9;
  --color-silver: #c0c0c0;
  --color-off-white: #f2f0ef;
  --color-licorice: #1a1110;
  --color-dark-licorice: #120b0b;
  --color-licorice-light: #221716;
  --color-onyx: #353839;
}
@custom-variant dark (&:where(.dark, .dark *));
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer base {
  h1 {
    @apply text-4xl font-bold;
  }
  h2 {
    @apply font-semibold dark:text-(--color-egg-shell);
  }
  h3 {
    @apply text-2xl font-semibold py-4 dark:text-(--color-egg-shell);
  }
  a {
    @apply dark:hover:text-white font-bold;
  }
}
/* NOTE :root is a CSS pseudo-class , it represents the <html> element
 * Alternative to CSS variables in Tailwind: theme function + design tokens in tailwind.config.js
 */
:root {
  --onyx: #353839;
  --silver: #c0c0c0;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

html.dark {
  color-scheme: dark;
}
