/* MARK When @tailwind base is added ,Preflight will be injected */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
}

@layer utilities {
    form input {
        @apply px-4 py-3 block border rounded;
    }

    .typewriter {
        overflow: hidden; /* Ensures the content is not revealed until the animation */
        border-right: 0.15em solid #a1a1a3; /* The typwriter cursor */
        white-space: nowrap; /* Keeps the content on a single line */
        /* margin: 0 auto;    Gives that scrolling effect as the typing happens */
        letter-spacing: 0.15em; /* Adjust as needed */
        animation: typing 3.5s steps(40, end),
            /* steps(40, end) */ blink-caret 0.75s step-end infinite;
    }

    /* The typing effect */
    @keyframes typing {
        from {
            width: 0;
        }
        to {
            width: 40rem;
        }
    }

    /* The typewriter cursor effect */
    @keyframes blink-caret {
        from,
        to {
            border-color: transparent;
        }
        50% {
            border-color: #a1a1a3;
        }
    }
}
/* MARK :root is a CSS pseudo-class , it represents the <html> element
 * Alternative to CSS variables in Tailwind: theme function + design tokens in tailwind.config.js
 */
:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

html.dark {
    color-scheme: dark;
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
/* MARK CSS ClASS GROUPs:
*
* absolute(child) -> non-static(parent)
*
* 'grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-4 gap-y-12 justify-between'
* For justify-content to work , fr can't be used in repeat function
* For justify-items to work , grid items's width must be small than grid trackd
*
* 'flex justify-center items-center'
*
*
 */
