/* @tailwind base; */
/* @tailwind components; */
/* @tailwind utilities; */

body main a h1{
  padding: 0;
  background: #C9543B;
  margin: 0;
  font-family: "Times New Roman", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
