@theme {
  --rootheader-height: 4rem;
  --layout-padding-vertical: 3rem;
  --layout-padding-horizontal: 1rem;
  --foreground-color-blue: oklch(74.6% 0.16 232.661);
  --color-egg-shell: #f0ead6;
  --color-outer-space: #414a4c;
  --color-dark-gray: #a9a9a9;
  --color-silver: #c0c0c0;
  --color-off-white: #f2f0ef;
  --color-licorice: #1a1110;
  --color-dark-licorice: #120b0b;
  --color-licorice-light: #221716;
  --color-onyx: #353839;
}
@custom-variant dark (&:where(.dark, .dark *));
