$primary: #000000;
@import "bootstrap/scss/bootstrap.scss";
body {
  --bs-body-font-family:  "Times New Roman", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #404452;
 
}
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }
  #__next {
  
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  body > header {
    position: fixed;
    top: 0;
  }
  body > footer {
    position: fixed;
    bottom: 0;
  }
  .navbar-sticky{
    top: 0rem;
  }